// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

$beige: #e3c691;
$darkGreenGold: #8d8862;
$lightGreen: #c0dc99;
$green: #507356;
$lightBlue: #97d5d9;
$desatBlue: #464b65;
$purple: #3e2b3d;
$darkPurple: #3a3248;
$pink: #cc8e94;
$skin: #b08b7b;

$headFont: "Patua One", sans-serif;
$bodyFont: "Inika", serif;
